<ion-header class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Sistema de Gestión de Agua Potable</p>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen="true">

  <div class="container">
      <ion-img src="assets/img/gotas-de-agua.svg" ></ion-img>
      <h1>Bienvenido</h1>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
  </div>
</ion-content>



<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Copyrigth: C&S Studio 2020</p>
  </ion-toolbar>
</ion-footer>
