<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="onClick()" class="bordered">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <!--Implementar la funcion de busqueda en la base de datos-->         
        <ion-label>Fmla. Saquipay</ion-label>         
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="onClick()" class="bordered">
          <!--Aqui hay que implementar una funcion que analice si el usuario tiene valores 
          pendientes por pagar aparesca el icono de warning-outline caso contrario
        mostrar el wallet-outline-->
          <ion-icon slot="start" name="warning-outline"></ion-icon>
          <!--Otra funcion para que busque los valores pendientes por pagar-->
          <ion-label>$ 10.50</ion-label>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="container">
    <div style="display: block"><canvas id="myChart2"></canvas></div>
  </div>

  <div class="container">    
    <div style="display: block"><canvas id="myChart"></canvas></div>
  </div>



  <div class="container">
    <ion-title><b><u>REPORTE</u> </b> </ion-title>
    

    <ion-row class="rowcol">
      <ion-col size="4">
        <b>3.2</b>
      </ion-col>
      <ion-col size="4">
       <b>25-09-20</b> 
      </ion-col>
      <ion-col size="4">
        <b>-10%</b> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        Consumo
      </ion-col>
      <ion-col size="4">
       Fecha corte
      </ion-col>
      <ion-col size="4">
        &#916; &#8711;
      </ion-col>
    </ion-row>
  </div>
  

</ion-content>
